body {
  background-color: #7EA7D8;
  margin: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.left-column {
  width: 20%;
  background-color: #002147;
  color: #FFFFFF;
  font-size: larger;
  font-family: math;
  padding: 10px;
}

.right-column {
  width: 80%;
  background-color: #7ED4D9;
  color: #333333;
  border: 2px solid #002147;
  padding: 0px 10px;
  box-sizing: border-box;
  font-family: sans-serif;
}

#sidebar-title {
  display: block;
  margin: 1em 0;
  color: #7cc990;
  font-size: x-large;
  text-align: center;
  font-family: monospace;
}

#sidebar-toggle {
  display: none;
}

/* Scroll code blocks if they would go beyond the page */
.container .right-column pre {
  overflow: auto;
  display: block;
  padding: 10px;
  border-style: ridge;
}

/* Do not break inlined code between lines */
.right-column p > code,
.right-column td > code
{
  white-space: nowrap;
}

/* Additional styling for links */
.left-column a {
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: 5px 0px;
  text-indent: 10px;
}

.left-column a:hover {
  text-decoration: underline;
  color: yellow;
  background-color: #002f66;
}

a#download {
  background-color: #033a16;
  color: white;
  padding: 0.5em;
  font-weight: bold;
  text-decoration: none;
}

a#download:hover {
  border: 1px solid gold;
  margin: -1px;
}

/* Keep the sidebar's links always visible when scrolling the page */
.left-column .sidebar {
  position: sticky;
  top: 1em;
}

/* Mobile layout (sidebar links can be shown or hidden through an "hamburger menu") */

@media (max-width: 768px) {
  body {
    background-color: #7ED4D9;
    margin: 0;
    text-size-adjust: auto;
    -ms-text-size-adjust: auto;
    -moz-text-size-adjust: auto;
    -webkit-text-size-adjust: auto;
  }
  
  .container {
    flex-direction: column;
    padding: 0;
  }

  .left-column {
    width: 100%;
    padding: 0.5em 0;
    position: sticky;
    top: 0;
  }

  .right-column {
    width: 100%;
    padding: 0 0.75em;
    border: 0;
    margin: 0 auto;
    box-sizing: border-box;
  }

  #sidebar-title {
    margin: 0;
    display: block;
    text-align: left;
    padding-left: 0.25em;
  }

  #sidebar-toggle {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 1.5em;
    width: auto;
    padding: 0 0.25em;
    text-indent: 0;
  }

  #sidebar-toggle:hover {
    text-decoration: none;
  }

  #sidebar-links {
    display: none;
    margin-top: 0.5em;
  }
}