<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>{{ page.title }} - imgconceal</title>
  
  <link rel="icon" type="image/svg+xml" href="{{ 'favicon.svg' | relative_url }}" />
  <link rel="stylesheet" type="text/css" href="{{ 'assets/style.css' | relative_url }}" />
  <link rel="stylesheet" type="text/css" href="{{ 'assets/syntax.css' | relative_url }}" />

  <meta name="description" content="imgconceal is a steganography tool for hiding files in JPEG and PNG images." />
  <meta content="width=device-width, initial-scale=1" name="viewport" />

</head>

<body>
  <div class="container">
    <div class="left-column">
      <div class="sidebar">
        <span id="sidebar-title">&lt;imgconceal&gt;</span>
        <a href="javascript:void(0);" id="sidebar-toggle" onclick="menu_toggle();">&#9776;</a>
        <!-- Links to other pages -->
        <nav id="sidebar-links">
          <a href="{{ '/' | relative_url}}">Home</a>
          <a href="{{ 'help/' | relative_url }}" rel="help">How to use</a>
          <a href="{{ 'docs/' | relative_url }}">Documentation</a>
          <a href="{{ 'algorithm/' | relative_url }}">How it works</a>
          <a href="{{ 'examples/' | relative_url }}">Test images</a>
          <a href="https://github.com/tbpaolini/imgconceal/releases" rel="external" target="_blank">Downloads</a>
          <a href="https://github.com/tbpaolini/imgconceal" rel="external" target="_blank">Source code</a>
        </nav>
      </div>
    </div>
    <div class="right-column" onclick="menu_hide();">
      <!-- Main content of the page -->
      <main>
      {{ content }}
      </main>
    </div>
  </div>
  <footer><small style="text-align: right; display: block;">Copyright © 2023 by Tiago Becerra Paolini</small></footer>
  <script src="{{ 'assets/menu.js' | relative_url }}"></script>
</body>

</html>
