<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }} - imgconceal</title>
  
  <link rel="icon" type="image/svg+xml" href="{{ 'favicon.svg' | relative_url }}" />
  <link rel="stylesheet" type="text/css" href="{{ 'assets/style.css' | relative_url }}" />
  <link rel="stylesheet" type="text/css" href="{{ 'assets/syntax.css' | relative_url }}" />

  <meta name="description" content="imgconceal is a steganography tool for hiding files in JPEG and PNG images." />
  <meta http-equiv="content-language" content="en-us" />

</head>

<body>
  <div class="container">
    <div class="left-column">
      <div class="sidebar">
      <pre style="color: #7cc990; font-size: x-large; text-align: center;">&lt;imgconceal&gt;</pre>
      <!-- Links to other pages -->
      <a href="{{ '/' | relative_url}}">Home</a>
      <a href="{{ 'help' | relative_url}}">How to use</a>
      <a href="{{ 'docs' | relative_url}}">Documentation</a>
      <a href="{{ 'algorithm' | relative_url}}">How it works</a>
      <a href="{{ 'examples' | relative_url}}">Example images</a>
      <a href="https://github.com/tbpaolini/imgconceal/releases" rel="external" target="_blank">Downloads</a>
      <a href="https://github.com/tbpaolini/imgconceal" rel="external" target="_blank">Source code</a>
      </div>
    </div>
    <div class="right-column">
      <!-- Main text of the page -->
      {{ content }}
    </div>
  </div>
  <small style="text-align: right; display: block;">Copyright © 2023 by Tiago Becerra Paolini</small>
</body>

</html>